In [1]:
import pandas as pd
import numpy as np

In [24]:
train = pd.read_csv('all/train.csv')
test = pd.read_csv('all/test.csv')

In [25]:
test['Survived'] = 0

In [26]:
test.shape

(418, 12)

In [82]:
test['Survived'] = (test['Sex'] == 'female') | (test['Age'] <= 9) | (test['Sex'] == 'male') & (test['Embarked'] == 10 & (test['Pclass'] == 1))

In [83]:
test['Survived'].value_counts()

False    255
True     163
Name: Survived, dtype: int64

In [79]:
test.columns

Index(['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch',
       'Ticket', 'Fare', 'Cabin', 'Embarked', 'Survived'],
      dtype='object')

In [60]:
submission = test[['PassengerId', 'Survived']]

In [61]:
test['Pclass'].head()

0    3
1    3
2    2
3    3
4    3
Name: Pclass, dtype: int64

In [62]:
submission['Survived']

0      False
1       True
2      False
3      False
4       True
5      False
6       True
7      False
8       True
9      False
10     False
11     False
12      True
13     False
14      True
15      True
16     False
17     False
18      True
19      True
20     False
21     False
22      True
23     False
24      True
25     False
26      True
27     False
28     False
29     False
       ...
388    False
389    False
390    False
391     True
392    False
393    False
394    False
395     True
396    False
397     True
398    False
399    False
400     True
401    False
402     True
403    False
404    False
405    False
406    False
407    False
408     True
409     True
410     True
411     True
412     True
413    False
414     True
415    False
416    False
417    False
Name: Survived, Length: 418, dtype: bool

In [63]:
mkdir submissions

mkdir: submissions: File exists

In [64]:
submission['Survived'] = submission['Survived'].copy()

/Users/yunkim/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [65]:
submission.head()

   PassengerId  Survived
0          892     False
1          893      True
2          894     False
3          895     False
4          896      True

In [66]:
submission['Survived'] = submission['Survived'].astype(int)

/Users/yunkim/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [67]:
submission.to_csv('submissions/submission_female_9.csv', index=False)

In [68]:
s = pd.read_csv('submissions/submission_female_9.csv')
s.head()

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1

In [69]:
%pwd

'/Users/yunkim/Desktop/titanic'